button {
  background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.chat-entry {
  margin: 1rem;
}

.chat-entry:last-child {
  margin-bottom: 0;
}

.chat-entry .entry-bubble {
  background-color: #ffffe0;
  border-radius: 30px;
  max-width: 50rem;
  min-width: 10rem;
  padding: 1rem 1rem 0.1rem 1rem;
  position: relative;
  width: fit-content;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.chat-entry .entry-bubble:hover {
  background-color: #fefea2;
}

.chat-entry .entry-name {
  font-size: medium;
  margin-bottom: 0.5rem;
  color: black;
}

.chat-entry .entry-time {
  color: white;
  font-size: x-small;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
}

/* Chat bubble arrow styling */
.chat-entry .entry-bubble::before {
  content: '';
  height: 22px;
  width: 44px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);

  position: absolute;
  top: 0;
}

/* "local" messages are shown on the left side */
.chat-entry.local {
  text-align: left;
}

.chat-entry.local .entry-time {
  color: black;
  text-align: right;
}

.chat-entry.local .entry-bubble::before {
  background-color: #ffffe0;
  left: -18px;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.chat-entry.local .entry-bubble:hover::before {
  background-color: #fefea2;
}

/* "remote" messages are shown on the right side, in blue */
.chat-entry.remote {
  text-align: right;
  color: white;
}

.chat-entry.remote .entry-bubble {
  background-color: #96bebc;
  margin-left: auto;
  margin-right: 0;
}

.chat-entry.remote .entry-bubble:hover {
  background-color: #759593;
}

.chat-entry.remote .entry-time {
  text-align: left;
}

.chat-entry.remote .entry-bubble::before {
  background-color: #96bebc;
  right: -18px;
}

.chat-entry.remote .entry-bubble:hover::before {
  background-color: #759593;
}