/* adding color classes for buttons */
.red {
    background-color: rgb(219, 6, 6);
}

.orange {
    background-color: rgb(219, 134, 6);
}

.yellow {
    background-color: rgb(245, 222, 23);
}

.green {
    background-color: rgb(81, 219, 6);
}

.blue {
    background-color: rgb(6, 38, 219);
}

.purple {
    background-color: rgb(162, 6, 219);
}

.button {
    padding: 5px;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 100%;
}

.button:hover {
    cursor: pointer;
}